/* BODY */
body {
    margin: 0;
    background-color: #FFFEF9;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    color: #151515
}

/* HEADER */

.utility-nav {
    background-color: #9395AA;
    padding-top: 6px;
    padding-bottom: 6px;
}

.utility-nav-links {
    text-align: right;
    padding-right: 30px;

}
.utility-nav-links a {
    text-decoration: none;
    color: #FFFEF9;
    font-weight: 500;
    font-size: 14px;
    margin: 30px;
}

.utility-nav a:hover{
    text-decoration: underline;
}

.logo {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    width: 238px;
    display: block;
    float: left;
}

header nav {
    float: right;
    margin: auto;

    padding-top: 25px;
}

header nav a {
    color: #151515;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    padding-left: 45px;
    padding-right: 60px;
    display: inline;
}

header nav a:hover{
    text-decoration: underline;
}

#bag-number {
    font-size: 20px;
    padding-left: 4px;
}

/* HOMEPAGE */

/* HERO */

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-buttons {
    display: flex;
    position: absolute;
    top: 40%;
    left: 40%;
    align-items: center;
}

.hero-image .button-white {
    color: #FFFEF9;
    border-color: #FFFEF9;
    border-style: solid;
    border-radius: 23px;
    border-width: 2px;
    text-decoration: none;
    padding: 10px 25px;
    margin: 0px 40px 0px 0;
}

.hero-image .button-white:hover{
    color: #151515;
    background-color: #FFFEF9;
    border-color: #FFFEF9;
}


/* OUR COMMUNITY ADVENTURES */

h1 {
    text-align: center;
    background-color: #9395AA;
    color: #FFFEF9;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    width: 380px;
    height: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
    margin-top: 60px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    
}

.community-adventure-home {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 160px; 
    grid-column-gap: 30px;
    text-align: center;
    margin-left: 60px;
}

.community-adventure-home img {
    width: 240px;
    display: inline-block;
}

.community-adventure-home figcaption {
    text-align: center;
    margin: 0;
}

.community-CTA {
    padding-top: 40px;
}

h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
}

.community-adventure-home .black-button{
    color: #151515;
    border-color: #151515;
    border-style: solid;
    border-radius: 23px;
    border-width: 2px;
    text-decoration: none; 
    padding: 10px 25px;
    display: inline-block;  
}

.community-adventure-home .black-button:hover{
    color: #FFFEF9;
    background-color: #151515;
    border-color: #151515;
}

/* BOTTOM BANNER */

.bottom-banner {
    background-color: #151515;
    margin-top: 75px;
    position: relative;
    text-align: center;
    width: 100%;
}

h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    color: #FFFEF9;
    text-align: center;
}

.bottom-banner .button-white {
    color: #FFFEF9;
    border-color: #FFFEF9;
    border-style: solid;
    border-radius: 23px;
    border-width: 2px;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    margin: 15px;
}

.bottom-banner .button-white:hover{
    color: #151515;
    background-color: #FFFEF9;
    border-color: #FFFEF9;
}

/* FOOTER */

.footer {
    background-color: #9395AA;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    min-height: 150px;
    color: #FFFEF9;
    align-items: baseline;
}

.logo-white {
    display: inline;
    margin: 60px;
    vertical-align: middle;
}

ul {
    display: inline-block;
    margin-right: 66px;
    list-style-type: none;
    vertical-align: middle;
}

ul a, .address{
    text-decoration: none;
    font-size: 14px;
    color: #FFFEF9;
    font-weight: 200;
    line-height: 20px;
}

ul a:hover{
    text-decoration: underline;
}

/* ALL PRODUCTS PAGE */

.product-browsing-title{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.full-width {
    color: #FFFEF9;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    min-width: 1220px;
}

/* SORT DROPDOWN*/

.dropdown-button {
    background-color: #FFFEF9;
    border: none; 
    font-family: Montserrat;
    margin: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-size: 12px;
    display: none;
    position: absolute;
    background-color: #FFFEF9;
}

.dropdown-content a {
    color: #151515;
    padding: 5px;
    display: block;
}

.dropdown-content a:hover {
    text-decoration: underline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.caret {
    vertical-align: middle;
}

/* PRODUCTS */

.product-grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    justify-content: center;
}

.product-browsing-image {
    width: 400px;
}

.other-options {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}

.product-name-browsing{
    padding-top: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #151515;
}

.product-name-browsing:hover{
    text-decoration: underline;
}

a {
    text-decoration: none;
}

/* DOG HARNESS PAGE */

.breadcrumbs, .continue-shopping {
    color: #151515;
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    justify-content: left;
    text-align: left;
    width: 90%;
    margin-left: 60px;
}

.breadcrumbs a, .continue-shopping a {
    text-decoration: underline;
    color: #151515;

}

h4 span {
    float: right;
}

h5 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    position: relative;
    color: #151515;
    margin-left: 60px;
    width: 100%;
}

.product-detail-image1 {
    display: inline;
    position: relative;
    width: 55%;
    margin-left: 60px;
    margin-bottom: 20px;
}

.product-images {
    float: right;
    display: inline;
}

.secondary-images {
    display: inline;
    position: relative;
    margin-left: 60px;
}

.product-detail-image2 {
    width: 160px;
    margin-right: 10px;
    align-self: center;
}

/* DETAIL TILE */

.product-details {
    position: absolute;
    left: 65%;
    margin-right: 60px;
    border-style: solid;
    border-width: 2px;
    border-color: #151515;
    padding: 20px;
}

.review-stars {
    padding-top: 10px;
    padding-bottom: 10px;
}

.details-care {
    padding-top: 15px;
}

.details-and-care-list {
    padding-left: 10px;
}

.product-detail-size-selector {
    display: inline-flex;
}

.size-tiles button{
    border:none;
    background-color: #F4F2ED;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.size-tiles button:active {
    border: solid;
    border-width: 1px;
}

#color-button-strawberry {
    width: 40px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    border-radius: 100%;
    margin-left: 5px;
    margin-bottom: 32px;
    margin-top: 10px;
    background-color: #D85050;
}

#color-button-fire-orange {
    width: 40px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    border-radius: 100%;
    margin-left: 5px;
    margin-bottom: 32px;
    margin-top: 10px;
    background-color: #EF873C;
}

#color-button-crazyberry {
    width: 40px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    border-radius: 100%;
    margin-left: 5px;
    margin-bottom: 32px;
    margin-top: 10px;
    background-color: #3BA0D9;
}

#color-button-blackberry {
    width: 40px;
    height: 40px;
    text-decoration: none;
    cursor: pointer;
    border-style: none;
    border-radius: 100%;
    margin-left: 5px;
    margin-bottom: 32px;
    margin-top: 10px;
    background-color: #151515;
}

.color-buttons {
    
}

.add-to-bag-button {
    font-family: Montserrat;
    color: #151515;
    border-color: #151515;
    background-color: #FFFEF9;
    border-style: solid;
    border-radius: 23px;
    border-width: 2px;
    text-decoration: none; 
    padding: 10px 100px;
    margin: 0 auto;
    display: flex;
}

.add-to-bag-button:hover {
    color: #FFFEF9;
    background-color: #151515;
    border-color: #151515;
}

/* REVIEWS */

.reviews {
    width: 1000px;
    position: relative;
    display: inline-block;
    margin-left: 60px;
}

.review-title {
    padding-top: 50px;
    color: #151515;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

h4 {
    color: #151515;
    display: inline;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.underline {
    border-bottom: solid;
    border-width: 1px;
}

.review-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#review-item {
    color: #151515;
    margin: 0;
}

#black-button {
    color: #151515;
    border-color: #151515;
    border-style: solid;
    border-radius: 23px;
    border-width: 2px;
    text-decoration: none; 
    padding: 10px 20px;
    float: right;
}

#black-button:hover {
    color: #FFFEF9;
    background-color: #151515;
    border-color: #151515;
}

.review-content {
    margin-top: 30px;
    display: flex;
}

.review-text {
    width: 600px;
    margin-left: 100px;
    margin-bottom: 30px;
}

/* YOUR BAG */

.continue-shopping:hover {
    text-decoration: underline;
}

#wrapper {
    width: 100%;
    margin: auto;
}

.your-bag {
    float: left;
    position: relative;
    display: inline;
    margin-left: 60px;
}

.bag-items {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.order-summary {
    float: right;
    position: absolute;
    left: 65%;
    margin-right: 60px;
    border-style: solid;
    border-width: 2px;
    border-color: #151515;
    padding: 20px;
}

.clear-button {
    border:none;
    background:none;
    float: right;

}

